@{
    ViewBag.Title = "CAP-First Time Trial";

    if (ViewBag.LoadEngineError != null)
    {
        <script>
            var loadEngineError = @Html.Raw(ViewBag.LoadEngineError);//use Html.Raw() to prevent html-encoding
            alert(loadEngineError.StatusCode + "\n" + loadEngineError.ErrorMessage);
        </script>
    }
}

<link rel="stylesheet" type="text/css" href="~/Content/custom.css" />

<div class="alert alert-info" style="margin:15px">
    <h4>Usage: Try our anomaly detection engines before you officially onboard, you can do side by side comparison with different set of parameters.</h4>
</div>

<div class="row" style="margin:15px">
    <div class="panel panel-info">
        <div class="panel-body form-horizontal">
            <div class="row">
                <div class="col-md-8 ">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">Time Series:</label>
                            <!--button to open the modal-->
                            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#read-me-modal">Read Me</button>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input class="form-control" id="csv-name" readonly="readonly" style="max-width:none" />
                                <div class="input-group-btn">
                                    <label class="btn btn-primary">
                                        <!--form a select file button with style-->
                                        Browse
                                        <input id="csv-selector" type="file" style="display:none" accept=".csv" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <!--show time range to help user select start time-->
                    <div class="help-block" id="time-range" style="font-size:small"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label class="control-label" for="data-type" data-toggle="tooltip" title="If your time series is periodic, choose periodic. Otherwise, choose unknown and CAP will detect the data type for you">Data Type:</label>
                        </div>
                        <div class="col-xs-6">
                            <select class="form-control" id="data-type">
                                <option value="1">Periodic</option>
                                <option value="0">Unknown</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label" for="interval-seconds" data-toggle="tooltip" title="The interval seconds between two data points">Data Granularity (seconds):</label>
                        </div>
                        <div class="col-xs-6">
                            <input class="form-control" id="interval-seconds" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label" for="start-time">Detection Start Time:</label>
                        </div>
                        <div class="col-xs-6">
                            <input class="form-control" id="start-time" type="text" disabled="disabled" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--trial one-->
<div class="row vertical-center-align" style="margin:15px">
    <div class="col-md-8" style="min-height:450px">
        <div class="loading-icon" id="trial-one-loader" style="display:none"></div>
        <div id="trial-one-chart"></div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-body form-horizontal">
                <!--Load and Save-->
                <div class="form-group" style="text-align:right">
                    <input type="file" id="trial-one-load-input" style="display:none" accept=".json" /><!--triggered by clicking on Load button-->
                    <button class="btn crystal-btn" onclick="$('#trial-one-load-input').click()" data-toggle="tooltip" data-trigger="hover" title="Load previously tried parameters from a local json file">
                        <span class="glyphicon glyphicon-open"></span>Load
                    </button>
                    |<!--a divider-->
                    <button class="btn crystal-btn" id="trial-one-save-btn" data-toggle="tooltip" data-trigger="hover" title="Save parameters as a local json file">
                        <span class="glyphicon glyphicon-save"></span>Save to local
                    </button>
                </div>
                <div class="scrollable-part">
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label" for="trial-one-engine" data-toggle="tooltip" title="For more information about the engines, please go to the Help page on the top navigation bar">Engine:</label>
                        </div>
                        <div class="col-xs-7">
                            <select class="form-control" id="trial-one-engine">
                                <option value="">default</option>
                                @{
                                    foreach (var engine in ViewBag.AnomalyEngines)
                                    {
                                        <option value="@engine.EngineId">@engine.Description</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div id="trial-one-parameters">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label class="control-label" for="trial-one-DataPeriod" data-toggle="tooltip" title="Count of data points in one data period cycle">DataPeriod:</label>
                            </div>
                            <div class="col-xs-7">
                                <input class="form-control" id="trial-one-DataPeriod" name="DataPeriod" />
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-success col-xs-offset-2 col-xs-8" id="trial-one-btn">Try</button>
            </div>
        </div>
    </div>
</div>

<hr />
<!--trial two-->
<div class="row vertical-center-align" style="margin:15px">
    <div class="col-md-8" style="min-height:450px">
        <div class="loading-icon" id="trial-two-loader" style="display:none"></div>
        <div id="trial-two-chart"></div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-body form-horizontal">
                <!--Load and Save-->
                <div class="form-group" style="text-align:right">
                    <input type="file" id="trial-two-load-input" style="display:none" accept=".json" /><!--triggered by clicking on Load button-->
                    <button class="btn crystal-btn" onclick="$('#trial-two-load-input').click()" data-toggle="tooltip" data-trigger="hover" title="Load previously tried parameters from a local json file">
                        <span class="glyphicon glyphicon-open"></span>Load
                    </button>
                    |<!--a divider-->
                    <button class="btn crystal-btn" id="trial-two-save-btn" data-toggle="tooltip" data-trigger="hover" title="Save parameters as a local json file">
                        <span class="glyphicon glyphicon-save"></span>Save to local
                    </button>
                </div>
                <div class="scrollable-part">
                    <div class="form-group">
                        <div class="col-xs-5">
                            <label class="control-label" for="trial-two-engine" data-toggle="tooltip" title="For more information about the engines, please go to the Help page on the top navigation bar">Engine:</label>
                        </div>
                        <div class="col-xs-7">
                            <select class="form-control" id="trial-two-engine">
                                <option value="">default</option>
                                @{
                                    foreach (var engine in ViewBag.AnomalyEngines)
                                    {
                                        <option value="@engine.EngineId">@engine.Description</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div id="trial-two-parameters">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label class="control-label" for="trial-two-DataPeriod" data-toggle="tooltip" title="Count of data points in one data period cycle">DataPeriod:</label>
                            </div>

                            <div class="col-xs-7">
                                <input class="form-control" id="trial-two-DataPeriod" name="DataPeriod" />
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-success col-xs-offset-2 col-xs-8" id="trial-two-btn">Try</button>
            </div>
        </div>
    </div>
</div>

<!-- Read Me Modal-->
<div class="modal fade" id="read-me-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal-label">Read Me</h4>
            </div>
            <div class="modal-body">
                <h4>Here you should upload a CSV file containing 2 columns (with header).</h4>
                <h4>
                    <b>Example:</b>
                    <a class="btn btn-sm btn-success" href="~/Example/try-tuning.csv" download="">click to download a sample CSV</a><!--csv example for download-->
                </h4>
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>Timestamp</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>2016-07-01T00:00:00</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>2016-07-01T01:00:00</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr class="danger">
                        <td>Format: Standard DateTime string without comma</td>
                        <td>Format: Double</td>
                    </tr>
                </table>
                <h4><b>Requirements of the data in the CSV:</b></h4>
                <ul>
                    <li><h4>Data needs to be complete with chosen granularity without any missing data points.</h4></li>
                    <li><h4>Time series dataset should include training data and detection data. DetectionStartTime are the time which separate the training data and detection data.</h4></li>
                    <li><h4>The training data should contain at least 28 days of data points.</h4> </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/chart-helper.js"></script>
    <script src="~/Scripts/try-event-handler.js"></script>
    <script>
        var tryUrl ="@ViewBag.TryTuningUrl";

        $(document).ready(function () {
            //check for FILE API support
            if (!window.FileReader) {
                alert("FileReader is not supported in this browser.");
            }
            if(!window.Blob){
                alert("The Blob constructor is not supported.");
            }
            if(!window.navigator.msSaveBlob){
                alert("The msSaveBlob API is not supported.");
            }

            $("#start-time").datepicker({
                dateFormat: "mm/dd/yy"
            });
            $("#trial-one-chart").kendoStockChart(createChartParams("Trial one", null, null));
            $("#trial-two-chart").kendoStockChart(createChartParams("Trial two", null, null));

            //show tooltip
            $('[data-toggle="tooltip"]').tooltip({container:"body"});
        });

        //refresh when the window size change
        $(window).on("resize", function () {
            var currentChart = $("#trial-one-chart").data("kendoStockChart");
            if (currentChart != null) {
                currentChart.refresh();
            }
            var currentChart = $("#trial-two-chart").data("kendoStockChart");
            if (currentChart != null) {
                currentChart.refresh();
            }
        });

        $("#csv-selector").on("change", onCsvSelected);
        $("#data-type").on("change", onDataTypeChanged);
        $("#trial-one-btn").on("click", { trialNumStr: "one" }, onTryClicked);
        $("#trial-one-save-btn").on("click",{ trialNumStr: "one" },onSaveClicked);
        $("#trial-one-load-input").on("change",{ trialNumStr: "one" },onLocalParamLoaded);
        $("#trial-two-btn").on("click", { trialNumStr: "two" }, onTryClicked);
        $("#trial-two-save-btn").on("click",{ trialNumStr: "two" },onSaveClicked);
        $("#trial-two-load-input").on("change",{ trialNumStr: "two" },onLocalParamLoaded);
    </script>
}

